.pokemonSelector {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    transition: width 0.5s, height 0.5s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2.5%;
}
.pokemonSelector:hover {
    width: 225px;
    height: 125px;
}
#pokemonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}