.pokemonSelector {
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    transition: background-position 0.3s;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    margin-bottom: 0.5%;
    background-image: url("../../backgrounds/pokeball.png");
    background-size: 150%;
    background-position: bottom right;
    user-select: none;
}
.pokemonSelector:hover {
    background-position: center right;
    cursor: pointer;
}
#pokemonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    padding: 0 20px 0 20px;
    background-color: rgba(140, 209, 183, 0.85);
    height: auto;
    overflow: auto;
    margin: 0 auto;
}

#button-wrapper {
    width: 400px;
}

#back-button {
    font-size: 200%;
    padding: 10px 10px 10px 10px;
    color: #000000;
    position: relative;
    left: 15px;
    transition: color 0.2s, left 0.5s;
}
#back-button:hover {
    cursor: pointer;
    color: #6f6f6f;
    left: 0px;
    padding: 10px 25px 10px 10px;
}
