
#pokemonInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow: auto;
}
#info {
    background-color: rgba(140, 209, 183, 0.85);
    background-image: url("../../icons/sphere.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top center;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    overflow: auto;
    width: 100%;
    padding: 0 20px 0 20px;
    position: relative;
}

#bottom-section {
    background-color: whitesmoke;
    display: inline;
    padding: 20px;
    overflow: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 24px 10px rgba(0,0,0,0.47);
}
#info h1 {
    margin: 0;
}
#button {
    font-size: 200%;
    padding: 10px 10px 10px 10px;
    color: #000000;
    position: relative;
    left: 15px;
    transition: color 0.2s, left 0.5s;
}
#button:hover {
    cursor: pointer;
    color: #6f6f6f;
    left: 0px;
    padding: 10px 25px 10px 10px;
}

#button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

#stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 499px) {
    #stats {
        height: 100%;
    }
}
@media only screen and (min-width: 500px) {
    #stats {
        height: auto;
    }
}

.icon {
    height: 100%;
}

#types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#pokemonImg {
    max-width: 256px;
    max-height: 256px;
    min-width: 192px;
    min-height: 192px;
    width: auto;
    height: auto;
    margin: 0 auto;
}
@media only screen and (min-width: 500px) {
    #pokemonImg {
        max-width: 256px;
        max-height: 256px;
        min-width: 192px;
        min-height: 192px;
    }
    #pokemonImgWrapper {
        width: 256px;
        height: 256px;
    }
} 
@media only screen and (max-width: 499px) {
    #pokemonImg {
        max-width: 192px;
        max-height: 192px;
        min-width: 128px;
        min-height: 128px;
    }
    #pokemonImgWrapper {
        width: 192px;
        height: 192px;
    }
}
#pokemonImgWrapper {
    text-align: center;
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
}

.statBox {
    width: 40%;
    max-width: 150px;
}

.statBox > p {
    margin: 0;
}

.statBox > div {
    background-color: #f9f1f1;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 150%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
}

.type {
    width: 125px;
    height: 40px;
    border: 0px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.type > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 125%;
    font-weight: bold;
    color: white;
}
#style-selector {
    height: 30px;
    width: 150px;
    appearance: none;
    background-image: url("../../icons/pokeball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
}
#style-selector:focus {
    background-image: url("../../icons/pokeball-open.png");
}
#style-selector-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bug {
    background-color: #92BD2D;
}
.dark {
    background-color: #595761;
}
.dragon {
    background-color: #0C6AC8;
}
.electric {
    background-color: #F2D94E;
}
.fairy {
    background-color: #EF90E6;
}
.fighting {
    background-color: #D3425F;
}
.fire {
    background-color: #FBA64C;
}
.flying {
    background-color: #A1BBEC;
}
.ghost {
    background-color: #5F6DBC;
}
.grass {
    background-color: #60BD58;
}
.ground {
    background-color: #DA7C4D;
}
.ice {
    background-color: #76D1C1;
}
.normal {
    background-color: #A0A29F;
}
.poison {
    background-color: #B763CF;
}
.psychic {
    background-color: #FA8582;
}
.rock {
    background-color: #C9BC8A;
}
.steel {
    background-color: #5795A3;
}
.water {
    background-color: #539DDF;
}